<div class="row section clients topspace">
    <h2 class="section-title"><span>Current and Former Clients</span></h2>
    <div class="col-lg-12">
        <p>
	<div class="clientlogos">
            <a href="https://joinstorkclub.com/" style="text-decoration: none;font-family:storkclub;font-size:24px;font-weight:900;color:black;opacity:0.5"><img src="images/clients/storkclub-black.png" alt="Stork Club" class="clientlogo">Stork Club</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://hyp3r.com"><img src="images/clients/hyp3r.svg" alt="Hyp3r" class="clientlogo"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://priceonomics.com"><img src="images/clients/priceonomics-small.png" alt="Priceonomics Inc." class="clientlogo"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://simptekinc.com/"><img src="images/clients/simptek-black-small-1.png" alt="Simptek Inc." class="clientlogo"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
        </p>
    </div>
</div> <!-- /section -->
